<div class="row">
<div class="span10">

<div  class="modal ng-valid ng-dirty in" ui-modal ng:show="editBudgetMode" style="display: block;">
 	<div class="modal-header"><h1>Přidat projekt</h1></div>
    <div class="modal-body" style="height:100px; vertical-align: middle; ">
        <form>
        	<div style="margin-left:140px">
		        <div>
		        	<div>
		        		<span  style="margin-left:100px ">Budget</span>
		        	</div>
					<input type="text" ng-model="editedProject.budget"/> <span class="exampleText">rozpočet např: 10000</span>
				</div>	
			</div>
        </form>
    </div>
    <div class="modal-footer">
		<input type="button" ng:click="saveEditedBudget(editedProject)" value="Save" class="btn btn-success"/>
        <input type="button" ng:click="editBudgetMode = false" value="Cancel" class="btn btn-danger"/>
	</div>
</div>



<div class="hero-unit">
	<div class="row" align="center">
		
			
		<div class="span12">
				<div class="span4" ng-model="dateFromFilter" ui-date="{dateFormat:'yy-mm-dd'}">od</div>
				<div class="span4" style="padding-left: 22px" ng-model="dateUntilFilter" ui-date="{dateFormat:'yy-mm-dd'}">do</div>
				
				
				<div class="span4" style="padding-left: 50px">
					<div class="btn-group" data-toggle="buttons-radio" align="left" >
						 <input type="radio" ng-model="filterType" value="customer">Zákazník</button>
						 <input type="radio" ng-model="filterType" value="project">Projekt</button>
						 <input type="radio" ng-model="filterType" value="user">Uživatel</button>
					</div>	
					
							
					
					
					<div ng:show="filterType =='customer'">
						 <select ui-select2  style="width: 200px;"  ng-model="customerFilter" >
				            <option value="">-- zvolte zákazníka --</option>	
							<option  ng:repeat="customer in customers.data" value="{{customer.id}}">{{customer.name}}</option>
						 </select>
					</div>
					<div ng:show="filterType =='project'">
						<select ui-select2  style="width: 200px;" ng-model="projectFilter">
							<option value="">-- zvolte projekt --</option>	
							<option ng:repeat="project in projects.data" value="{{project.id}}">{{project.name}}</option>
						</select>
					</div>
					<div ng:show="filterType =='user'">
						<select ui-select2  style="width: 200px;" ng-model="userFilter">
							<option value="">-- zvolte uživatele--</option>	
							<option ng:repeat="user in users.data" value="{{user.id}}">{{user.fullname}}</option>
						</select>
					</div>
					
					<div>
				  			<p style="font-size: 10pt">filtr podle stavu faktury</p>
						 	 	<select  style="width: 200px;" ng-model="invoiceType" ng-change="invoiceTypeFilterChange()">
						 	 		<option value="Approved">Schváleno</option>
									<option value="Closed">Uzavřeno</option>
									<option value="Open">Otevřeno</option>
							  	</select>
					</div>
				
			
				</div>
		</div>
	</div>
	<br>
	<div align="center"><button class="btn btn-secundary" ng:click="getCalculations(customerFilter,projectFilter,userFilter)">Kalkulovat</button></div>
</div>

<div class="hero-unit scrollspy-example" style="overflow-y: scroll; height: 220px">
	
		<p style="font-size:14px">Celkem všechny projekty {{calculations.totalSum[0].sum}}</p>

		<hr style="color: black; background-color: black;">
		<div ng:repeat="project in calculations.dataProjects.valArray" >
			<div style="width: 45%; float:right; padding-right: 20px; padding-bottom: 20px; font-size:12px">
			 <table class="table table-striped" style="font-size:12px" >
			 	  <tbody>
				       <tr  ng:click="getProjectDetails(project)">
				                <td> Projekt: {{project.data[0].project}}</td>
				                <td> Budget: {{project.data[0].budget}}</td>
				                <td><button ng:click="editBudget(project.data[0])">uprav budget</button></td>
				       </tr>
			      </tbody>
			 </table>
				<div ng:show="project.visible!=0" style=" padding-left: 30px">
				   <table class="table table-striped" style="font-size:12px" >
				            <thead>
					            <tr>
					                <th width="35px">Položka</th>
					                <th width="15px">částka</th>
					            </tr>
				            </thead>
				            <tbody>
					            <tr ng:repeat="object in project.data">
					                <td>{{object.item}}</td>
					                <td>{{object.amount}}</td>
					            </tr>
				            </tbody>
				  </table>
			  </div>
		  </div>
	</div>

</div>

</div>

<div class="span2" style="background-color: white; padding-left:10px; padding-right:5px;padding-top:5px;">
		<h2>Události</h2>
		<hr>
	<div ng:repeat="event in lastEvents.data">
		<p>{{event}}</p>
		<hr>
	</div>
</div>
	
</div>


