<div class="row" style="padding-left: 15px">
<div class="span10">
<div class="hero-unit">
	<div class="row" align="center">
		<div class="span12">
	
			<div class="span4" ng-model="dateFromFilter" ui-date="{dateFormat:'yy-mm-dd'}">od</div>
			<div class="span4" style="padding-left: 22px" ng-model="dateUntilFilter" ui-date="{dateFormat:'yy-mm-dd'}">do</div>
					
			<div class="span4" style="padding-left: 50px">
				<div class="btn-group" data-toggle="buttons-radio" align="left">
					 <input type="radio" ng-model="filterType" value="invoice">Faktura</button>
					 <input type="radio" ng-model="filterType" value="project">Projekt</button>
					 <input type="radio" ng-model="filterType" value="user">Uživatel</button>
				</div>	
					<div ng:show="filterType =='invoice'">
						 <select ui-select2  style="width: 200px;"  ng-model="invoiceFilter" >
				            <option value="">-- zvolte fakturu--</option>	
							<option  ng:repeat="invoice in invoices.data" value="{{invoice.id}}">číslo {{invoice.nr}} - {{invoice.creation_date}}</option>
						 </select>
					</div>
					<div ng:show="filterType =='project'">
						<select ui-select2  ng-model="projectFilter" style="width: 200px;">
							<option value="">-- zvolte projekt --</option>	
							<option ng:repeat="project in projects.data" value="{{project.id}}">{{project.name}}</option>
						</select>
					</div>
					<div ng:show="filterType =='user'">
						<select ui-select2  style="width: 200px;" ng-model="userFilter">
							<option value="">-- zvolte uživatele--</option>	
							<option ng:repeat="user in users.data" value="{{user.id}}">{{user.fullname}}</option>
						</select>
					</div>
					<div>
						
					</div>
					
				
			</div>
			
	</div>
	
		
	</div>
	<div align="center">
		<br>
		<button class="btn btn-secundary" ng:click="getEvents(invoiceFilter,projectFilter,userFilter)">Zobrazit události</button>
	</div>
</div>

<div class="hero-unit scrollspy-example" style="overflow-y: scroll; height: 220px">
	
	<div ng:repeat="event in events.data"  >
		<p style="font-size:12px" >{{event}}</p>
		<hr>
	</div>

</div>

</div>

<div class="span2" style="background-color: white; padding-left:10px; padding-right:5px;padding-top:5px;">
		<h2>Události</h2>
		<hr>
	<div ng:repeat="event in lastEvents.data">
		<p>{{event}}</p>
		<hr>
	</div>
</div>


</div>
