 <!-- -----------------------------mainControler------------------->

 
<div  xmlns="http://www.w3.org/1999/html">
<div class="row-fluid">
<div class="span10">
	<div>
    	<a class="btn btn-primary" ng:click="setTable('New', 'Invoice' ,'unasigned')">Nepřiřazené</a>
    	<a class="btn btn-primary" ng:click="setTable('Open', 'Invoice','meAsigned',currentUser)">Mně přiřazené</a>
    	<a class="btn btn-primary" ng:click="setTable('Open', 'Invoice','asigned')">Ostatní</a>
	</div>

    
<div id="createCustomer" class="modal ng-valid ng-dirty in" ui-modal style="display: block; " ng:show="modalCreateCustomer">
	<div class="modal-header"><h1>Přidat zákazníka</h1></div>
    <div class="modal-body">
    <div>
    	Zákazník
    </div>
        <form>
            <input type="text" ng-model="customerName"/> <span class="exampleText">jméno např: Microsoft</span>
        </form>
    </div>
    <div class="modal-footer">
	 	 <input type="button" ng:click="addCustomer(customerName)" value="Save" class="btn btn-success"/>
         <input type="button" ng:click="modalCreateCustomer = false" value="Cancel" class="btn btn-danger"/>
	</div>
</div>

<div  class="modal ng-valid ng-dirty in" ui-modal ng:show="modalCreateProject" style="display: block;">
 	<div class="modal-header"><h1>Přidat projekt</h1></div>
    <div class="modal-body" style="height:300px; vertical-align: middle; ">
        <form>
        	<div style="margin-left:140px">
        		 <div>
        		 <div>
        		  	<span  style="margin-left:100px ">Zákazník</span>
        		 </div>
			        <select ui-select2  style="width: 220px;" ng-model="customerName" > 
			            <option value="">-- zvolte zákazníka --</option>	
						<option  ng:repeat="customer in customers.data" value="{{customer.id}}">{{customer.name}}</option>
					</select> 
					<span class="exampleText">Zákazník např: Microsoft</span>	
				</div>	
				<br>
	        	<div>
	        		<div>
	        			<span  style="margin-left:100px ">Projekt</span> 
	        		</div>
		        	<input type="text" ng-model="projectName"/> <span class="exampleText">Projekt např: Cattering</span>	
		        	
		        </div>
		        <div>
		        	<div>
		        		<span  style="margin-left:100px ">Budget</span>
		        	</div>
					<input type="text" ng-model="budget"/> <span class="exampleText">rozpočet např: 10000</span>
				</div>	
			</div>
        </form>
    </div>
    <div class="modal-footer">
		<input type="button" ng:click="addProject(projectName,customer)" value="Save" class="btn btn-success"/>
        <input type="button" ng:click="modalCreateProject = false" value="Cancel" class="btn btn-danger"/>
	</div>
</div>

<div id="modalGuy" ng:show="modalAmountOver" class="modal ng-valid ng-dirty in" ui-modal  style="display: block; ">
	<div class="modal-header"><h1>Pozor</h1></div>
	<div class="modal-body">
		<p>Součet položek faktury je větší než cena faktury celkem!</p>
	</div>
	<div class="modal-footer">
		<button class="btn"  ng-click="modalAmountOver=false">OK</button>
	</div>
</div>

<div id="amountApproved" class="modal ng-valid ng-dirty in" ui-modal ng:show="modalAmountApproved" style="display: block; ">
	<div class="modal-header"><h1>Pozor</h1></div>
	<div class="modal-body">
		<p>faktura schválena</p>
	</div>
	<div class="modal-footer">
		<a class="btn" ng-click="modalAmountApproved=false">OK</a>
	</div>
</div>

 <!-- -----------------------------mainControler------------------->
 
<!-- -----------------------------unasignedInvoicesCtrl------------------->
 
<div ng:show="viewState=='unasigned'" ng-controller="unasignedInvoicesCtrl" >

		<div style="vertical-align: middle;" align="center">
			<h3>Faktury</h3>
		</div>
		<br>
		
		<div class="row-fluid">
			<div class="span12" style="background-color: #F5F5F5; padding-right: 4px">
				<div class="span4">
					<button  class="btn btn-secundary" ng:click="edit()" ng-disabled="lastSelectedInvoice==null">Editovat</button>
					<button  class="btn btn-secundary" ng:click="reject()" ng-disabled="lastSelectedInvoice==null">Zamítnout</button>
				</div>
			
				<div class="span8">
					<div align="right" style="padding-bottom: 10px">
							<span style="text-align: center;">
								<button class="btn btn-secundary" ng-disabled="lastSelectedInvoice==null" ng:click="asignInvoice()">Přiřadit</button>
							  	<select ui-select2  style="width: 200px; text-align: center;"    ng-model="currentAsignedUser">
							  		<option value="">-- zvolte uživatele --</option>
							  		<option ng:repeat="user in users.data" value="{{user.id}}">{{user.fullname}}</option>
							  	</select>  
							 </span>
							<button  class="btn btn-secundary" ng:click="createProject()">Přidat projekt</button>
							<button class="btn btn-secundary" ng:click="createCustomer()">Přidat zákazníka</button>		
					</div>
				</div>
			</div>
			
		</div>
		
 	  	<div class="row-fluid">
		 
	    <div class="span12" style="background-color: #F5F5F5">
			<table 	 my-table="overrideOptions"
		             aa-data="items.data"
		             ao-column-defs="columnDefs"
		             fn-row-callback="myCallback"
		             class="dataTable DTTT_selectable">
		            <thead>
		            <tr>
				        <th style="width:10px">Číslo</th>
				        <th style="width:50px">Celkem</th>
				        <th style="width:50px">Zd. plnění</th>
				        <th style="width:50px">Vytvořeno</th>
				        <th style="width:50px">Splatnost</th>
				        <th style="width:10px">Status</th>
				        <th style="width:50px">Poznámka</th>
				        <th style="width:50px">Jméno</th>    
				        <th style="width:20px">Zdroj</th>
		            </tr>
		            </thead>
		        </table>
		  </div>
		</div>

	


	
	<div  class="modal ng-valid ng-dirty in" ui-modal ng:show="editMode" style="display: block;">
		<div class="modal-header"><h1>Editování</h1></div>
		<div class="modal-body" style="vertical-align: middle;" >
		<div>
				<div>
			        <form>
			            <div ng:repeat="col in editcols">
			              
			                <div ng:switch on="col.type" style="margin-left:140px ">
			                	  <span  style="margin-left:100px " >{{col.label}}</span>
			                    <div ng:switch-when="String" >
			                        <input type="text" ng:model="lastSelectedInvoice[col.name]"/>  <span class="exampleText">{{col.fx}}</span>	
			                    </div>
			                     <div ng:switch-when="date">
			                        <input ui-date="{dateFormat:'yy-mm-dd'}" ng:model="lastSelectedInvoice[col.name]"/>  <span class="exampleText">{{col.fx}}</span>	
			                    </div>               
			                </div>
			            </div>
			            <div>
					       <div style="margin-left:140px ">
					       		  <span  style="margin-left:100px">Poznámka</span>
					       		<div>
					        		<textarea rows="5" cols="50" ng:model="lastSelectedInvoice.note"></textarea> <span class="exampleText">poznámka např: rozhodni</span>	
					        	</div>
					        </div>
				        </div>
			        </form>
		        </div>
	       </div>
		</div>
		<div class="modal-footer">
			 <input type="button" ng:click="save('invoice',lastSelectedInvoice)" value="Save" class="btn btn-success"/>
	          <input type="button" ng:click="cancelEdit()" value="Cancel" class="btn btn-danger"/>
		</div> 
	</div>
	
	<br>
	<div ng:show="lastSelectedInvoice!=null">
		<iframe  name="newInvoiceIframe" id="newInvoiceIframe" height="200px" width="100%" ></iframe>
	</div>
</div>



	

<!-- -----------------------------/unasignedInvoicesCtrl------------------->


<!-- -----------------------------asignedInvoicesCtrl---------------------->

<div ng:show="viewState=='asigned'" ng-controller="asignedInvoicesCtrl">	
	<div ng:show="showFilters">
		<div class="row-fluid">
			<div class="span12" style="background-color: #F5F5F5">
			
				<div style="font-weight: bold" class="span4" ng-model="dateFromFilter" ui-date="{dateFormat:'yy-mm-dd'}">Od</div>
				<div style="font-weight: bold"class="span4" ng-model="dateUntilFilter" ui-date="{dateFormat:'yy-mm-dd'}">Do</div>
				 <div class="span4">
				  	<div>
					<p style="font-weight: bold;">Filtr podle projektu</p>
			  		<select ui-select2  ng-model="projectFilter">
				  			<option value="">-- zvolte projekt --</option>	
				  			<option ng:repeat="project in projects.data" value="{{project.id}}">{{project.name}}</option>
			  		</select>
		  			</div>
		  			
		  			<div>
					<p style="font-weight: bold">Filtr podle uživatele</p>
					<select ui-select2  ng-model="userFilter" >
			  			<option value="">-- zvolte uživatele --</option>
			  			<option ng:repeat="user in users.data" value="{{user.id}}">{{user.fullname}}</option>
		  			</select>
				    </div>
				    	
					<div>
			  			<p style="font-weight: bold">Filtr podle zákazníka</p>
				  		<select ui-select2  ng-model="customerFilter">
				  			<option value="">-- zvolte zákazníka --</option>
				  			<option ng:repeat="customer in customers.data" value="{{customer.id}}">{{customer.name}}</option>
				  		</select>
			  		</div>
			  		
			  			<div>
			  			<p style="font-weight: bold">Filtr podle stavu faktury</p>
					 	 	<select  ng-model="invoiceType" ng-change="invoiceTypeFilterChange()">
								<option value="Open">Otevřeno</option>
								<option value="Approved">Schváleno</option>
								<option value="Rejected">Zamítnuto</option>
								<option value="Closed">Uzavřeno</option>
						  	</select>
						</div>
				    
				  </div>			
			</div>
			
		</div>
		<div class="row-fluid" style="vertical-align: middle;" align="center">
			<div class="span12" style="background-color: #F5F5F5; padding-top: 10px">
				<button ng:click="filterInvoices()">filtrovat</button>
				<button ng:click="resetFilters()">reset filtru</button>
			</div>
		</div>
	 </div>

	<br>	<br>
  	

		<div class="row-fluid">
			 <div class="span12" align="right" style="padding-bottom: 5px">
				 <button style="float:right" class="btn btn-secundary" ng-model="showFilters" ng:click="showFilterFunction()">{{showFiltersText}}</button>
			 </div>
		</div>
		
		
		<div style="vertical-align: middle;" align="center">
			<h3>Faktury</h3>
		</div>
		<br>
		
		<div class="row-fluid">
		
		
			<div class="span12" style="background-color: #F5F5F5; padding-right: 4px">
				<div class="span4">
					<button ng:show="invoiceType!='Approved'" class="btn btn-secundary"  ng:click="edit()" ng-disabled="lastSelectedInvoice==null">Editovat</button>
					<!--  <button  class="btn btn-secundary" ng:click="reject()" ng-disabled="lastSelectedInvoice==null">Zamítnout</button> -->
					<button ng:show="invoiceType=='Approved'" class="btn btn-secundary" ng:click="close()" ng-disabled="lastSelectedInvoice==null">Uzavřít</button>
				</div>
			
				<div class="span8">
					<div align="right" style="padding-bottom: 10px">
						<span style="text-align: center;">
							<button class="btn btn-secundary" ng-disabled="lastSelectedInvoice==null" ng:click="asignInvoice()">Přiřadit</button>
						  	<select ui-select2  style="width: 200px; text-align: center;"    ng-model="currentAsignedUser">
						  		<option value="">-- zvolte uživatele --</option>
						  		<option ng:repeat="user in users.data" value="{{user.id}}">{{user.fullname}}</option>
						  	</select>  
						 </span>
						<button  class="btn btn-secundary" ng:click="createProject()">Přidat projekt</button>
						<button class="btn btn-secundary" ng:click="createCustomer()">Přidat zákazníka</button>		
					</div>
			  	</div>
			</div>	
		</div>
		
		
		
		<div class="row-fluid">
			<div class="span12" style="background-color: #F5F5F5">
				<table 	 my-table="overrideOptions"
			             aa-data="items.data"
			             ao-column-defs="columnDefs"
			             fn-row-callback="myCallback"
			             class="dataTable DTTT_selectable">
			            <thead>
			            <tr>
					          <th style="width:10px">Číslo</th>
						      <th style="width:50px">Celkem</th>
						      <th style="width:50px">Zd. plnění</th>
						      <th style="width:50px">Vytvořeno</th>
						      <th style="width:50px">Splatnost</th>
						      <th style="width:10px">Status</th>
						      <th style="width:50px">Poznámka</th>
						      <th style="width:50px">Jméno</th>    
						      <th style="width:20px">Zdroj</th>
			            </tr>
			            </thead>
			        </table>
			  </div>
		</div>
		
		
		<br>
		
		<div style="vertical-align: middle;" align="center">
			<h3>Položky faktury</h3>
		</div>
		
		 <br>
		 <div class="row-fluid" >
			<div class="span12" style="background-color: #F5F5F5; padding-bottom: 10px">
				<div class="span9">
					<button  class="btn btn-secundary" ng:show="invoiceType=='Open'"  ng:click="editInvoiceItem()" ng-disabled="lastSelectedInvoiceItem==null">Editovat</button>
					<button  class="btn btn-secundary" ng:show="invoiceType=='Open'" ng:click="approveItem()" ng-disabled="lastSelectedInvoiceItem==null">Schválit</button>
					<button  class="btn btn-secundary" ng:show="invoiceType=='Open'" ng:click="rejectItemQuestionDialog =true" ng-disabled="lastSelectedInvoiceItem==null">Zamítnout</button>
				</div>
			
				<div class="span3"  style="float: right;" align="right" >
					<button class="btn btn-secundary" ng:show="invoiceType!='Approved'" ng-disabled="lastSelectedInvoice==null" ng:click="createInvoiceItem(lastSelectedInvoice)">Vytvořit položku</button>
			  	</div>
			</div>
			
		</div>
		
		
		<div id="rejectQuestionDialog" class="modal ng-valid ng-dirty in" ui-modal ng:show="rejectItemQuestionDialog" style="display: block; ">
			<div class="modal-header"><h1>Pozor</h1></div>
			<div class="modal-body">
				<p>skutecne odmitnout celou fakturu ?</p>
			</div>
			<div class="modal-footer">
				<a class="btn" ng-click="rejectItemQuestionDialog=false">Ne</a>
				<a class="btn" ng-click="rejectItem()">Ano</a>
			</div>
		</div>
	
		 
		 <div class="row-fluid">
		   <div class="span12" style="background-color: #F5F5F5">
			   	<div ng-show="lastSelectedInvoice!=null && !editMode">
			   		<table my-table="overrideOptionsDetails"
			               aa-data="itemDetails"
			               ao-column-defs="columnItemDefs"
			               fn-row-callback="myItemCallback"
			               class="dataTable DTTT_selectable">
			            <thead>
			            <tr>
					        <th style="width:50px">částka</th>
					        <th style="width:50px">položka</th>
					        <th style="width:50px">projekt</th>
					        <th style="width:50px">zákazník</th>
					        <th style="width:50px">stav</th>
					        <th style="width:50px">poznámka</th>
			            </tr>
			            </thead>
			        </table>
			   	</div>
		   </div>
	 	</div>
		 
	

	 
	 	
	<div  class="modal ng-valid ng-dirty in" ui-modal ng:show="editMode" style="display: block;">
		<div class="modal-header"><h1>Editování</h1></div>
			<div class="modal-body" style="vertical-align: middle;" >
				<div>
			        <form>
			            <div ng:repeat="col in editcols">
			              
			                <div ng:switch on="col.type" style="margin-left:140px ">
			                	  <span  style="margin-left:100px " >{{col.label}}</span>
			                    <div ng:switch-when="String" >
			                        <input type="text" ng:model="lastSelectedInvoice[col.name]"/>  <span class="exampleText">{{col.fx}}</span>	
			                    </div>
			                     <div ng:switch-when="date">
			                        <input ui-date="{dateFormat:'yy-mm-dd'}" ng:model="lastSelectedInvoice[col.name]"/>  <span class="exampleText">{{col.fx}}</span>	
			                    </div>               
			                </div>
			            </div>
			            <div>
					       <div style="margin-left:140px ">
					       		  <span  style="margin-left:100px">Poznámka</span>
					       		<div>
					        		<textarea rows="5" cols="50" ng:model="lastSelectedInvoice.note"></textarea> <span class="exampleText">poznámka např: rozhodni</span>	
					        	</div>
					        </div>
				        </div>
			        </form>
		        </div>
	       </div>
	       <div class="modal-footer">
			  <input type="button" ng:click="save('invoice',lastSelectedInvoice)" value="Save" class="btn btn-success"/>
	          <input type="button" ng:click="cancelEdit()" value="Cancel" class="btn btn-danger"/>
		  </div> 
	</div>
	 
	 
	 	 	
	<div  class="modal ng-valid ng-dirty in" ui-modal ng:show="editItemMode" style="display: block;">
		<div class="modal-header"><h1>Položka</h1>
		<p>pole s hvězdičkou nesmí být prázdná</p>
		</div>
		
		<div class="modal-body" style="vertical-align: middle;">
			<div style="margin-left:130px ">
		        <form>
		        	 <div> 
				        <div style="margin-left:100px "> Projekt</div>
				        <span style="font-size: 20pt;">*</span> 
	            		<select ui-select2 style="width: 225px;" ng-model="item.project">
		  					<option value="null">-- zvolte uživatele --</option>
		  					<option ng:repeat="project in projects.data" value="{{project.id}}">{{project.name}}</option> 
		  				</select>
						<span class="exampleText">jméno projektu např: cattering</span>	
		        	 </div> 
		        	 
		            <div ng:repeat="col in invoiceItemEditColumns">
		                <span style="margin-left:100px ">{{col.label}}</span>
		                <div ng:switch on="col.type">
		                    <div ng:switch-when="String">
		                       <span style="font-size: 20pt;">*</span>   <input type="text" ng:model="item[col.name]"/> <span class="exampleText">{{col.fx}}</span>	
		                    </div>
		                </div>
		            </div>
		            <div>
				        <span style="margin-left:100px">Poznámka</span>
				        <div style="padding-left: 10px">
		            		<textarea rows="5" cols="50" ng:model="item.note"></textarea> <span class="exampleText">poznámka např: nákladné</span>
		            	</div>	
		           </div>
		
		        </form>
		      </div>
		</div>
		<div class="modal-footer">
	            <input type="button" ng:click="saveItem(item)" value="Save" class="btn btn-success"/>
	            <input type="button" ng:click="cancelItem()" value="Cancel" class="btn btn-danger"/>
		</div> 
	</div>
	 

	   <br>
	<div ng:show="lastSelectedInvoice!=null">
		<iframe  id="assignedInvoiceIframe" height="200px" width="100%" ></iframe>
	</div>
    
</div>
<!-- -----------------------------/asignedInvoicesCtrl---------------------->   





<!-- -----------------------------meAsignedInvoicesCtrl----------------------> 
 
<div ng:show="viewState=='meAsigned'" ng-controller="meAsignedInvoicesCtrl">
	
	<div style="vertical-align: middle;" align="center">
			<h3>Faktury</h3>
	</div>
	<br>
		
		<div class="row-fluid">
			<div class="span12" style="background-color: #F5F5F5; padding-right: 4px">
				<div class="span4">
					<button  class="btn btn-secundary" ng:click="edit()" ng-disabled="lastSelectedInvoice==null" ng-show="currentUserSpecialRights==1">Editovat</button>
					<!--  <button  class="btn btn-secundary" ng:click="reject()" ng-disabled="lastSelectedInvoice==null" ng-show="currentUserSpecialRights==1">Zamítnout</button>-->
				</div>
				
				
				<div align="right" style="padding-bottom: 10px">
						<span style="text-align: center;">
							<button class="btn btn-secundary" ng-disabled="lastSelectedInvoice==null" ng:click="asignInvoice()">Přiřadit</button>
						  	<select ui-select2  style="width: 200px; text-align: center;" class="userPicker"  ng-model="currentAsignedUser">
						  		<option value="">-- zvolte uživatele --</option>
						  		<option ng:repeat="user in users.data" value="{{user.id}}">{{user.fullname}}</option>
						  	</select>  
						 </span>
						<button  class="btn btn-secundary" ng:click="createProject()">Přidat projekt</button>
						<button class="btn btn-secundary" ng:click="createCustomer()">Přidat zákazníka</button>			
				</div>
			</div>
	 	</div>
	 	
	 	<div class="row-fluid">
		 
	    <div class="span12" style="background-color: #F5F5F5">
			<table 	 my-table="overrideOptions"
		             aa-data="items.data"
		             ao-column-defs="columnDefs"
		             fn-row-callback="myCallback"
		             class="dataTable DTTT_selectable">
		            <thead>
		            <tr>
						<th style="width:10px">Číslo</th>
						<th style="width:50px">Celkem</th>
						<th style="width:50px">Zd. plnění</th>
						<th style="width:50px">Vytvořeno</th>
						<th style="width:50px">Splatnost</th>
						<th style="width:10px">Status</th>
						<th style="width:50px">Poznámka</th>
						<th style="width:50px">Jméno</th>    
						<th style="width:20px">Zdroj</th>
		            </tr>
		            </thead>
		        </table>
		  </div>
		</div>
		
		<br>
		
		<div style="vertical-align: middle;" align="center">
			<h3>Položky faktury</h3>
		</div>
		
		<br>
		
		<div class="row-fluid">
			<div class="span12" style="background-color: #F5F5F5; padding-bottom: 10px">
				<div class="span8">
					<button  class="btn btn-secundary" ng:click="editInvoiceItem()" ng-disabled="lastSelectedInvoiceItem==null">Editovat</button>
					<button  class="btn btn-secundary" ng:click="approveItem()" ng-disabled="lastSelectedInvoiceItem==null">Schválit</button>
					<button  class="btn btn-secundary" ng:click="rejectItemQuestionDialog=true" ng-disabled="lastSelectedInvoiceItem==null">Zamítnout</button>
				</div>
				
				
		<div id="rejectQuestionDialog" class="modal ng-valid ng-dirty in" ui-modal ng:show="rejectItemQuestionDialog" style="display: block; ">
			<div class="modal-header"><h1>Pozor</h1></div>
			<div class="modal-body">
				<p>skutecne odmitnout celou fakturu ?</p>
			</div>
			<div class="modal-footer">
				<a class="btn" ng-click="rejectItemQuestionDialog=false">Ne</a>
				<a class="btn" ng-click="rejectItem()">Ano</a>
			</div>
		</div>
	
				
			
				<div class="span3"  style="float: right;"  align="right">
					<button class="btn btn-secundary"  ng-disabled="lastSelectedInvoice==null" ng:click="createInvoiceItem(lastSelectedInvoice)">Vytvořit položku</button>
			  	</div>
			</div>
			
		</div>
		
		
		<div class="row-fluid">
		   <div class="span12" style="background-color: #F5F5F5">
			   	<div ng-show="lastSelectedInvoice!=null">
			   		<table my-table="overrideOptionsDetails"
			               aa-data="itemDetails"
			               ao-column-defs="columnItemDefs"
			               fn-row-callback="myItemCallback"
			               class="dataTable DTTT_selectable">
			            <thead>
			            <tr>
					        <th style="width:50px">částka</th>
					        <th style="width:50px">položka</th>
					        <th style="width:50px">projekt</th>
					        <th style="width:50px">zákazník</th>
					        <th style="width:50px">stav</th>
					        <th style="width:50px">poznámka</th>
			            </tr>
			            </thead>
			        </table>
			   	</div>
		   </div>
	 	</div>

	 
	
	<div class="modal ng-valid ng-dirty in" ui-modal ng:show="editMode" style="display: block;">
		<div class="modal-header"><h1>Editování</h1></div>
		<div class="modal-body" style="vertical-align: middle;" >
		<div>
			<div>
			      <form>
			            <div ng:repeat="col in editcols">
			                <div ng:switch on="col.type" style="margin-left:140px ">
			                	  <span  style="margin-left:100px " >{{col.label}}</span>
			                    <div ng:switch-when="String" >
			                        <input type="text" ng:model="lastSelectedInvoice[col.name]"/>  <span class="exampleText">{{col.fx}}</span>	
			                    </div>
			                     <div ng:switch-when="date">
			                        <input ui-date="{dateFormat:'yy-mm-dd'}" ng:model="lastSelectedInvoice[col.name]"/>  <span class="exampleText">{{col.fx}}</span>	
			                    </div>
			                </div>
			            </div> 
			            <div>
					       <div style="margin-left:140px ">
					       		  <span  style="margin-left:100px">Poznámka</span>
					       		<div>
					        		<textarea rows="5" cols="50" ng:model="lastSelectedInvoice.note"></textarea> <span class="exampleText">poznámka např: rozhodni</span>	
					        	</div>
					        </div>
				        </div>
			        </form>
		        </div>
	       </div>
		</div>
		<div class="modal-footer">
			 <input type="button" ng:click="save('invoice',lastSelectedInvoice)" value="Save" class="btn btn-success"/>
	          <input type="button" ng:click="cancelEdit()" value="Cancel" class="btn btn-danger"/>
		</div> 
	</div>
	
	<div  class="modal ng-valid ng-dirty in" ui-modal ng:show="editItemMode" style="display: block;">
		<div class="modal-header"><h1>Položka</h1>
		<p>pole s hvězdičkou nesmí být prázdná</p>
		</div>
		<div class="modal-body" style="vertical-align: middle;">
			<div style="margin-left:130px ">
		        <form>
		        	 <div> 
				        <div style="margin-left:100px "> Projekt</div>
				        <span style="font-size: 20pt;">*</span> 
	            		<select ui-select2 style="width: 225px;" ng-model="item.project">
		  					<option value="null">-- zvolte uživatele --</option>
		  					<option ng:repeat="project in projects.data" value="{{project.id}}">{{project.name}}</option> 
		  				</select>
						<span class="exampleText">jméno projektu např: cattering</span>	
		        	 </div> 
		        	 
		            <div ng:repeat="col in invoiceItemEditColumns">
		                <span style="margin-left:100px ">{{col.label}}</span>
		                <div ng:switch on="col.type">
		                    <div ng:switch-when="String">
		                       <span style="font-size: 20pt;">*</span> <input type="text" ng:model="item[col.name]"/> <span class="exampleText">{{col.fx}}</span>	
		                    </div>
		                </div>
		            </div>
		            <div>
				        <span style="margin-left:100px">Poznámka</span>
				        <div style="padding-left: 10px">
		            		<textarea rows="5" cols="50" ng:model="item.note"></textarea> <span class="exampleText">poznámka např: nákladné</span>
		            	</div>	
		           </div>
		
		        </form>
		      </div>
		</div>
		<div class="modal-footer">
	            <input type="button" ng:click="saveItem(item)" value="Save" class="btn btn-success"/>
	            <input type="button" ng:click="cancelItem()" value="Cancel" class="btn btn-danger"/>
		</div> 
	</div>
	
	<br>
	<div ng:show="lastSelectedInvoice!=null">
		<iframe  id="meAssignedInvoiceIframe" height="200px" width="100%" ></iframe>
	</div>
	
</div>
</div>

<div class="span2" style="background-color: white;">
     <div style="padding-left:15px; padding-right:5px;padding-top:10px;">
		<h2>Události</h2>
		<hr>
	 </div>
	<div ng:repeat="event in lastEvents.data" style="padding-left:15px; padding-right:5px;padding-top:10px;">
		<p>{{event}}</p>
		<hr>
	</div>
</div>

</div>
	
</div>

