body{
	background-image: url(../images/background4.jpg);
	background-repeat:no-repeat;
	background-position: center,fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:250px;
}


.container-fluid > .sidebar {
    position: absolute;
    right: 20px;
    top: 0;
    width: 220px;
    left: auto;
}

.container-fluid > .content {
    margin-right: 240px;
    margin-left: 0;
}

.exampleText{
	
	font-family:Arial;
	font-size: small;
	font-style:italic ;
	font-size: 8pt;
} 